.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  line-height: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

link {
  text-decoration: none;
}

.container {
  width: 1200px;
  align-items: center;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
  margin-right: 93px;
}

.logo--color {
  color: #2196f3;
}

.logo--white {
  color: #fff;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px 32px 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  fill: #afb1b8;
}

.social__icon {
  width: 20px;
  height: 20px;
}

.social__link:hover,
.social__link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.social--bottom {
  padding: 0px;
}

.social__item--bottom:not(:last-child) {
  margin-right: 10px;
}

.social__link--bottom {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
}

.social__link--bottom:hover,
.social__link--bottom:focus {
  background-color: #2196f3;
}

.title__button {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  border-color: #2f303a;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop {
  cursor: not-allowed;
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #fff;
  cursor: initial;
  position: relative;
  margin: auto;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
}

.close-btn__icon {
  width: 18px;
  height: 18px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__headline {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 40px auto 12px auto;
}

.modal-form__label {
  padding-left: 40px;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 52px;
  top: 29px;
}

.modal-form__textarea {
  resize: none;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 16px 12px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label:focus-within {
  fill: #2196f3;
}

.modal-form__input:focus-within,
.modal-form__textarea:focus-within {
  border: 1px solid #2196f3;
  outline: none;
}

.policy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.policy__text {
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy__link {
  color: #2196f3;
}

.policy__text::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 2px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 7px;
}

.policy__input:checked + .policy__text::before {
  background-image: url(../images/checkbox.svg);
  border: none;
}

.modal-button {
  margin: 30px auto 40px;
  padding: 0;
}

header {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto 0 auto;
  padding: 24px 0px 25px 0px;
}

.navi {
  display: flex;
}

.navi__link {
  text-decoration: none;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navi__link--active {
  color: #2196f3;
}

.navi__link--active::after {
  content: "";
  display: flex;
  position: relative;
  top: 32px;
  border-top: 4px solid #2196f3;
  border-radius: 2px;
}

.navi__item:not(:last-child) {
  margin-right: 46px;
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__link {
  text-decoration: none;
  color: #757575;
  fill: #757575;
  display: flex;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.navi__link:hover,
.navi__link:focus,
.contact__link:hover,
.contact__link:focus,
.contact__icon:hover,
.contact__icon:focus {
  color: #2196f3;
  fill: #2196f3;
}

.title {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* object-fit:cover? */
  width: 1600px;
  height: 600px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.title .container {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.title__headline {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
}

.list {
  display: flex;
}

.list__item {
  width: 270px;
}

.list__headline {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.list__item:not(:last-child) {
  margin-right: 30px;
}

.list__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  height: 75px;
  margin: 0px;
}

.list__box {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.list__icon {
  height: 70px;
  width: 70px;
}

.what-we-do {
  padding-top: 0px;
  padding-bottom: 94px;
}

.what-we-do__list {
  display: flex;
  justify-content: space-between;
}

.what-we-do__item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do__box {
  width: 370px;
  height: 294px;
  position: relative;
}

.what-we-do__text {
  position: absolute;
  width: 370px;
  height: 70px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 70px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  margin: 0;
}

.our-team {
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto;
}

.our-team__list {
  display: flex;
  justify-content: center;
}

.our-team__frame {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 428px;
  background-color: #ffffff;
  margin: 0;
}

.our-team__name {
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}

.our-team__workplace {
  color: #757575;
  margin: 0px;
}

.our-team__item:not(:last-child) {
  margin-right: 30px;
}

.our-clients__list {
  display: flex;
}

.our-clients__item {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__icon {
  width: 106px;
  height: 60px;
}

.our-clients__item:not(:last-child) {
  margin-right: 30px;
}

.our-clients__item:hover,
.our-clients__item:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
  cursor: pointer;
}

.bottom .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.bottom {
  background-color: #2f303a;
  line-height: 1.71;
}

.address {
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.contact--bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin: 9px 0px 9px 0px;
}

.bottom-list {
  display: flex;
}

.bottom-list__headline {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  padding-bottom: 20px;
}

.bottom-list__item:not(:last-child) {
  margin-right: 70px;
}

.bottom-form {
  display: flex;
}

.bottom-form__input {
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  color: #fff;
}

.bottom-form__icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 24px;
}

.bottom-form__input:focus-within {
  border: 1px solid #2196f3;
  outline: none;
}

.portfolio-page {
  padding-bottom: 0px;
}

.portfolio-page .container {
  justify-content: center;
}

.button-list {
  display: flex;
  justify-content: center;
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
}

.button-list__button {
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__button:hover,
.button-list__button:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section--box-list {
  padding-top: 20px;
}

.box-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-list__item {
  margin-top: 30px;
  cursor: pointer;
}

.box-list__item:hover,
.box-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.box {
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 370px;
  height: 404px;
  margin: 0px;
  position: relative;
}

.box__overlay {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 49px 45px 49px 24px;
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  width: 370px;
  height: 294px;
  transform: translateY(100%);
  transition: transform 250ms ease;
}

.box:hover .box__overlay,
.box:focus .box__overlay {
  transform: translateY(0);
}

.box__hidden {
  position: relative;
  overflow: hidden;
}

.box__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  width: 322px;
  height: 36px;
  margin-top: 20px;
  margin-left: 24px;
}

.box__filter {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  width: 322px;
  height: 30px;
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */