$color-primary: #2196F3;
$color-accent: #212121;
$color-secondary: #757575;
$color-tertiary: #fff;
$color-background: #2F303A;
$color-background-secondary: #f5f4fa; 
$color-icon: #afb1b8;

$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;