.list {
    display: flex;
  }
  .list__item {
    width: 270px;
  }
  .list__headline {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  .list__item:not(:last-child) {
    margin-right: 30px;
  }
  .list__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    height: 75px;
    margin: 0px;
  }
  .list__box {
    background-color: #f5f4fa;
    border-radius: 4px;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .list__icon {
    height: 70px;
    width: 70px;
  }