.our-clients__list {
    display: flex;
  }
.our-clients__item {
    border-radius: 4px;
    border: 1px solid $color-icon;
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $color-icon;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover,
      &:focus {
        fill: $color-primary;
        border: 1px solid $color-primary;
        cursor: pointer;
      }

      &:not(:last-child) {
        margin-right: 30px;
      }
  }
.logo__icon {
    width: 106px;
    height: 60px;
  }
