.title {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/background-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit:cover? */
    width: 1600px;
    height: 600px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .title .container {
    display: flex;
    flex-direction: column;
    width: 1200px;
  }
  .title__headline {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 696px;
  }
  