.logo {
    font-family: $secondary-font;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $color-accent;
    margin-right: 93px;

    &--color {
      color: $color-primary;
    }
    &--white {
      color: $color-tertiary;
      ;
    }
  }