.modal-form {
    display: flex;
    flex-direction: column;
  }
.modal-form__headline {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-accent;
    margin: 40px auto 12px auto;
  }
.modal-form__label {
    padding-left: 40px;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: $color-secondary;
    position: relative;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      &:focus-within {
      fill: $color-primary;
    }
  }
.modal-form__input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:focus-within {
      border: 1px solid $color-primary;
      outline: none;
    }
  }
.modal-form__icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 52px;
    top: 29px;
  }
.modal-form__textarea {
    resize: none;
    width: 448px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 16px 12px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:focus-within {
      border: 1px solid $color-primary;
      outline: none;
    }
  }
